:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --main-bg-color: #2196f3;
  --accent-color: #ffffff;
  --main-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--main-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.visually-hidden {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #ECECEC;
  max-width: 100%;
}

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 24px 0;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 50px;
}

.navigation__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
  text-decoration: none;
  margin-right: 93px;
}

.connect {
  display: flex;
  align-items: center;
  gap: 50px;
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-decoration: none;
  transition: var(--main-transition);
}
.menu__link:hover, .menu__link:focus {
  color: var(--main-bg-color);
}
.menu__link.current {
  color: var(--main-bg-color);
  position: relative;
}
.menu__link.current::after {
  content: "";
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  left: 0;
  bottom: -33px;
  background-color: var(--main-bg-color);
}

.connect__mail,
.connect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: var(--main-transition);
}
.connect__mail:hover, .connect__mail:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--main-bg-color);
}

.connect__icon {
  fill: var(--main-color);
  transition: var(--fill-transition);
}
.header-tel:hover .connect__icon, .header-tel:focus .connect__icon, .header-mail:hover .connect__icon, .header-mail:focus .connect__icon {
  fill: var(--main-bg-color);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-color);
  width: 696px;
  margin: 0 auto 30px auto;
}

.hero__btn {
  font-family: "Roboto", sans-serif;
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  display: inline-flex;
  text-align: center;
  border: 1px solid transparent;
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__btn:active {
  color: var(--accent-color);
  background-color: #188ce8;
}

.section {
  padding: 94px 0;
}

.pic-list__subtitle {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.pic-lis__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.pic-list {
  display: flex;
  gap: 30px;
}

.pic-list__item {
  width: 270px;
}

.pic-list__item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../image/antenna.svg);
}

.icon-clock::before {
  background-image: url(../image/clock.svg);
}

.icon-diagram::before {
  background-image: url(../image/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../image/astronaut.svg);
}

.illustration {
  padding-top: 0;
}

.illustration__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 50px;
  text-align: center;
}

.illustration-list {
  display: flex;
  gap: 30px;
}

.illustration-list__item {
  position: relative;
}

.illustration-list__wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.illustration-list__text {
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  padding: 27px 0;
}

.team {
  background-color: #F5F4FA;
  text-align: center;
}

.team-list {
  display: flex;
  gap: 30px;
  width: 270px;
}

.card {
  background: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.card__after-title {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-list__item {
  width: 44px;
  height: 44px;
}

.soc-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--main-bg-color);
}

.soc-list__icon {
  fill: #AFB1B8;
  transition: var(--fill-transition);
}
.soc-list__link:hover .soc-list__icon, .soc-list__link:focus .soc-list__icon {
  fill: var(--accent-color);
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.86;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

.icon-list {
  display: flex;
  gap: 30px;
}

.icon-list__item {
  width: calc((100% - 150px) / 6);
  height: 90px;
}

.icon-list__link {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-list__link:hover, .icon-list__link:focus {
  border-color: var(--main-bg-color);
}

.icon-list__icon {
  fill: #AFB1B8;
  transition: var(--fill-transition);
}
.icon-list__link:hover .icon-list__icon, .icon-list__link:focus .icon-list__icon {
  fill: var(--main-bg-color);
}

.bottom {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.bottom-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-bg-color);
  display: flex;
  margin-bottom: 20px;
}
.bottom-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
}
.bottom-mail, .bottom-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: var(--main-transition);
}
.bottom-mail:hover, .bottom-mail:focus, .bottom-tel:hover, .bottom-tel:focus {
  color: var(--main-bg-color);
}
.bottom-item {
  margin-bottom: 9px;
}

.studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.footer-soc__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.footer-list__item {
  width: 44px;
  height: 44px;
}

.footer-list__link.link {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list__icon {
  fill: var(--accent-color);
  transition: var(--fill-transition);
}
.footer-list__link:hover .footer-list__icon, .footer-list__link:focus .footer-list__icon {
  fill: var(--accent-color);
}

.footer-list__link:hover,
.footer-list__link:focus {
  background-color: var(--main-bg-color);
}

.subscription {
  margin-left: auto;
}

.subscription__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--accent-color);
}

.subscription__form {
  display: flex;
  align-items: baseline;
}

.mail-subscription {
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-subscription:focus, .mail-subscription:hover {
  border-color: var(--main-bg-color);
  outline: var(--main-bg-color);
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: var(--main-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
}

.icon-subscription {
  fill: var(--accent-color);
  margin-left: 10px;
}

.navigation-list {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  gap: 8px;
}

.navigation-list__btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--secondary-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), var(--main-transition), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-list__btn:hover, .navigation-list__btn:focus {
  color: var(--accent-color);
  background-color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-top-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-top-text {
  position: absolute;
  top: 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  background-color: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.portfolio-item .link:hover .portfolio-top-text, .portfolio-item .link:focus .portfolio-top-text {
  transform: translateY(0);
}

.portfolio-item .link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item .link:hover, .portfolio-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples {
  padding: 20px 24px;
  width: 370px;
  background-color: var(--accent-color);
  border: 1px solid #EEEEEE;
}

.portfolio-works {
  font-weight: 700;
  font-size: 18px;
  font-family: inherit;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-bottom: 4px;
  max-width: 322px;
  max-height: 36px;
}

.portfolio-after-title {
  font-family: inherit;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 600ms linear, visibility 600ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(-360deg) scale(0);
  border-radius: 65%;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0) scale(1);
  transition: transform 600ms linear, border-radius 600ms linear;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:hover, .modal-close:focus {
  fill: var(--main-bg-color);
}

.modal-title {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--secondary-color);
  justify-content: center;
  align-items: center;
  display: block;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--main-bg-color);
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-input-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--fill-transition);
}
.modal-input:focus + .modal-input-icon {
  fill: var(--main-bg-color);
}

.input-label {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
  display: block;
  margin-bottom: 4px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::-moz-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:-ms-input-placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-comment:focus {
  border-color: var(--main-bg-color);
}

.input-privacy {
  padding-left: 15px;
}

.check-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #171a24;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.input-check:focus + .check-text span {
  border-color: var(--main-bg-color);
}
.input-check:checked + .check-text span {
  background-color: var(--main-bg-color);
  fill: #ffffff;
  border-color: transparent;
}

.input-check {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-link {
  color: var(--main-bg-color);
  padding-left: 5px;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: auto;
  background-color: var(--main-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
}/*# sourceMappingURL=main.css.map */