
.hero {
	max-width: 480px;
	height: 400px;
	margin: 0 auto;
	background-color: #2f303a;
	background-image: linear-gradient(
	    rgba(47, 48, 58, 0.4),
	    rgba(47, 48, 58, 0.4)
	  ),
	  url(../image/background-mb.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 118px 0;
	width: 100%;
	@media (min-device-pixel-ratio:2),
    (min-resolution:192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../image/background-mb-2x.jpg);
	}

	@include tablet {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	    url(../image/background-tb.jpg);
		max-width: 768px;
		width: 100%;
		@media (min-device-pixel-ratio:2),
        (min-resolution:192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../image/background-tb-2x.jpg);
		}
		
	}

	@include desktop {
		max-width: 1600px;
        height: 600px;
        padding: 200px 0;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../image/background.jpg);
        width: 100%;
		@media (min-device-pixel-ratio:2),
        (min-resolution:192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url(../image/background-2x.jpg);

        }
	}	

}



.hero__title {
	margin: 0 auto 30px auto;
	color: var(--accent-color);
	font-family: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
	max-width: 360px;
	@media screen and (min-width:1200px) {
		max-width: 696px;
		font-size: 44px;
		line-height: 1.36;
	}
}

.hero__btn {
	font-family: "Roboto", sans-serif;
	color: var(--accent-color);
	background-color: var(--main-bg-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	cursor: pointer;
	display: inline-flex;
	text-align: center;
	border: 1px solid transparent;
	padding: 10px 32px;
	min-width: 216px;
	height: 50px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	&:active {
		color: var(--accent-color);
		background-color: #188ce8;
	}
}


