.section {
	padding: 94px 0;
  }
  .pic-list__subtitle {
	font-family: inherit;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--secondary-color);
	margin-bottom: 10px;
  }
  .pic-lis__text {
	font-family: inherit;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
  }
  .pic-list {
	display: flex;
	gap: 30px;
  }
  .pic-list__item {
	width: 270px;
  }
  .pic-list__item::before {
	display: block;
	content: "";
	height: 120px;
	background-size: 70px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #F5F4FA;
	margin-bottom: 30px;
	border-radius: 4px;
  }

.icon-antenna::before {
	background-image: url(../image/antenna.svg);
}
.icon-clock::before {
	background-image: url(../image/clock.svg);
}
.icon-diagram::before {
	background-image: url(../image/diagram.svg);
}
.icon-astronaut::before {
	background-image: url(../image/astronaut.svg);
}