
:root {
	--main-color: #757575;
	--secondary-color: #212121;
	--main-bg-color: #2196f3;
	--accent-color: #ffffff;
	--main-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	--fill-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
